/* Estilos de fuentes tipográficas */
@font-face {
	font-family: Futura;
	src: url(../fonts/futura/unicode.futurab.ttf);
}


/* Estilos de la cabecera */
h1 {
	font-family: Futura;
	display: inline;
}

.logo-cabecera {
	width: 80px;
}

.texto-vertical {
	writing-mode: vertical-lr;
	transform: rotate(180deg);
}

.panoramica-cabecera {
	height: 80px;
}