@font-face {
	font-family: Futura;
	src: url(../fonts/futura/unicode.futurab.ttf);
}

.centrar-vertical {
	display: flex;
 	justify-content: center;
    align-items: center;
}

h1 {
	font-family: Futura;
	display: inline;
}

.logo-cabecera {
	width: 80px;
}

.texto-vertical {
	writing-mode: vertical-lr;
	transform: rotate(180deg);
}